<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width=device-width">
		<title>Blog</title>
		<link href = "/styles/nav.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/content.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/footer.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/general.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/blog.css" rel = "stylesheet" type = "text/css" />
		<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
	</head>
	<body>
		<nav id = "nav"></nav>
		<aside id = "blog-nav"></aside>
		<section id = "blog-content"></section>
		<footer id = "footer"></footer>
		<script src = "https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
		<script type = "module" src = "/scripts/footer.js"></script>
		<script type = "module" src = "/scripts/nav.js"></script>
		<script type = "module" src = "/scripts/blog/blog.js"></script>
	</body>
</html>