<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width=device-width">
		<title>Home</title>
		<link href = "/styles/content.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/footer.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/general.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/header.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/nav.css" rel = "stylesheet" type = "text/css" />
	</head>
	<body>
		<!--Landing page black and white image slideshow from coding -> happy client -> idk???-->
		<header>
			<div>
				<!--Position slightly to left side of screen higher up-->
				<h1>Results you<br>can trust</h1>
				<!--Center or right button to scroll down the page. Balnce h1??? Ripple into view if possible-->
				<a href = "#content">Explore</a>
			</div>
		</header>
		<!--Spread em out with flex. Different logo for different color scheme???-->
		<nav id = "nav"></nav>
		<!--FadeIn the rest of the content on scroll-->
		<section id = "content">
			<!--Lots of fun links to and fro in set of three by one or three by two cards.  Make them taller than wide for the most part altho compromises may be need for three by two sets if there are any. Organize sets by topics in main navigatiuon bar-->
			<zig-cont-bottom data-classes = "text-section">
				<p>Stranothus Studios is your all in one destination for a brilliant website. I’ve been developing webpages for four years and programming for five. Throughout that time, I’ve worked on over three hundred projects including servers, bots, websites, games, simulations, computer graphics, browser extensions, custom libraries, and more. You can see the officially released public projects on the Portfolio page and below.</p>
            </zig-cont-bottom>
			<div class = "page-cards-cont">
				<a href = "/page/portfolio" class = "page-card">
					<h3>Portfolio</h3>
					<p>Check out a complete list of my projects!</p>
				</a>
				<a href = "/page/project/0" class = "page-card">
					<h3>Ease Commerce</h3>
					<p>Ease Com is a modern solution to E Commerce, focusing on the seller.</p>
				</a>
				<!--a href = "/" class = "page-card">
					<h3>BananaBlog</h3>
					<p>A website for my mom's career as a writer. This was my first real world website.</p>
				</a-->
				<a href = "/" class = "page-card">
					<h3>Stranothus Studios</h3>
					<p>This was the second fullstack webpage I've created. </p>
				</a>
				</a>
			</div>
			<zig-cont data-classes = "text-section">
				<p>I’m Quinn Gibson. I began learning program at a very early age, even before I was a teenager. Currently, I’m finishing high school while earning credits towards my associates degree through a dual enrollment program. I plan to graduate high school and acquire my associates degree simultaneously.</p>
				<p>While I specialize in web development through standard web design languages and Node.JS, I’ve explored quite a few other languages as well as libraries too, for various projects, or just for the fun of learning.</p>
				<ul>
				    <li>HTML & CSS</li>
				    <li>JavaScript</li>
				    <li>TypeScript</li>
				    <li>Node.JS</li>
				    <li>React</li>
				    <li>Golang</li>
				    <li>Java</li>
				    <li>Python</li>
				    <li>jQuery</li>
				    <li>Processing.JS</li>
				</ul>
				<p>All of these I’ve learned through various online tutorials, documentation, and communities, as well as plenty of practice in those I plan to use commonly. See my reviews of various languages, libraries, and transpile tos in my blog or browse some of my favorites below. </p>
			</zig-cont>
			<div class = "page-cards-cont">
				<a href = "/page/blog" class = "page-card">
					<h3>Blog</h3>
					<p>Check out all of the posts I've made!</p>
				</a>
				<a href = "/page/blog#post-0" class = "page-card">
					<h3>JavaScript</h3>
					<p>Unfamiliar with JavaScript? See my quick take on this scripting language.</p>
				</a>
				<a href = "/page/blog#post-1" class = "page-card">
					<h3>Hashing</h3>
					<p>How do you make passwords secure? Learn how hashing protects your users' accounts.</p>
				</a>
				<a href = "/page/blog#post-2" class = "page-card">
				    <h3>First Hackathon</h3>
				    <p>Learn about my first hackathon!</p>
				</a>
				<a href = "/page/blog#post-3" class = "page-card">
					<h3>TypeScript</h3>
					<p>Unfamiliar with TypeScript? See what this transpile to is all about.</p>
				</a>
				<a href = "/page/blog#post-4" class = "page-card">
					<h3>Second Hackathon</h3>
					<p>See what happens on Hackathon round 2!</p>
				</a>
			</div>
			<zig-cont data-classes = "text-section">
			    <p>Currently, I work as a freelance web developer. I’ve always been able to manage my own schedule well, so a job where I’m my own boss was perfect, and I can get a full day’s work in while still having time to do my school and have some free time. Website development means I both create the visual aspects of a website, and do any server work required, such as dynamic blogs, image galleries which need constant uploads, email forms, etc. This kind of work is also referred to as full stack, and means you won’t need to hire a second developer and have one work on each side.</p>
			    <p>Make sure to check out the rest of the website for the best way to reach me, some of my past projects, and what I've written in my blog.</p>
			</zig-cont>
			<div class = "page-cards-cont">
				<a href = "/page/portfolio" class = "page-card">
					<h3>Portfolio</h3>
					<p>Check out some of the projects I've worked on.</p>
				</a>
				<a href = "/page/contact" class = "page-card">
					<h3>Contact</h3>
					<p>Interested in hiring me?</p>
				</a>
				<a href = "/page/blog" class = "page-card">
					<h3>Blog</h3>
					<p>Me, but a little more personal.</p>
				</a>
			</div>
		</section>
		<!--All links!!! Little bit of a taller design with multiple colors to blend better with the restof the content yet remain slightly popped out-->
		<footer id = "footer"></footer>
		<script src = "/scripts/header-fade.js"></script>
		<script src = "/scripts/smooth-link-scroll.js"></script>
		<script type = "module" src = "/scripts/home.js"></script>
		<script type = "module" src = "/scripts/footer.js"></script>
		<script type = "module" src = "/scripts/nav.js"></script>
	</body>
</html>