<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width=device-width">
		<title>Portfolio</title>
		<link href = "/styles/nav.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/content.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/footer.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/general.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/portfolio.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/context-menu.css" rel = "stylesheet" type = "text/css" />
		<link href = "/styles/form.css" rel = "stylesheet" type = "text/css" />
	</head>
	<body>
		<nav id = "nav"></nav>
		<section id = "content">
			<div class = "text-section">
				<p>Below is a compilation of all the projects I've worked on. Click a project to see more about it in detail.</p>
			</div>
		</section>
		<section id = "portfolio"></section>
		<footer id = "footer"></footer>
		<script type = "module" src = "/scripts/footer.js"></script>
		<script type = "module" src = "/scripts/nav.js"></script>
		<script type = "module" src = "/scripts/portfolio/portfolio.js"></script>
	</body>
</html>