#context-menu {
	display : flex;
	flex-direction : column;
	min-width : 80px;
	min-height : 100px;
	padding : 10px;
	background-color : var(--bg-tint-1);
}
#context-menu h3 {
	font-family : var(--font-accent);
	font-size : 1.1rem;
	color : var(--txt-accent);
	border-bottom : 1px solid var(--bg-tint-2);
}
#context-menu button {
	display : block;
	flex-basis : 80%;
	padding : 10% 10%;
	font-family : var(--font-main);
	font-size : 0.9rem;
	color : var(--txt-main);
	text-align : left;
	border-radius : 3px;
	border : none;
	background-color : transparent;
	cursor : pointer;
}
#context-menu button:hover,
#context-menu button:active {
	background-color : var(--bg-tint-2);
}