@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&family=Roboto:wght@500&family=Source+Sans+Pro&display=swap');


:root {
	--bg-main : #202020;
	--bg-tint-1 : #1A1A1A;
	--bg-tint-2 : #303030;
	--bg-accent-1 : #FA0030;
	--bg-accent-2 : #FAC000;
	--txt-main : #EFEFEF;
	--txt-accent : #FAC000;
    --font-big-title: 'Montserrat', sans-serif;
	--font-title : 'Roboto', sans-serif;
	--font-accent : 'Source Sans Pro', sans-serif;
	--font-main : 'Lato', sans-serif;
}


* {
	margin : 0;
	padding : 0;
}


body {
	width : 100vw;
	height : auto;
	overflow-x : hidden;
	background-color : var(--bg-main);
}


.flex-row-break {
	flex-basis : 100%;
	width : 0;
}