nav {
	display : flex;
	position : relative;
	top : 0;
	z-index : 1000;
	width : 100vw;
	height : 50px;
	margin : 0 0 -50px;
	overflow : hidden;
	align-items : center;
	justify-content : space-between;
	background : var(--bg-accent-1);
}
nav img {
	margin : -2px 0;
	height : 54px;
}
nav ul {
	display : flex;
	flex-direction : row;
	justify-content : space-between;
	list-style : none;
	flex-grow : 1;
}
nav ul li {
	flex-grow : 1;
	text-align : center;
}
nav ul li a {
	position : relative;
	padding : 0 10px;
	font-family : var(--font-accent);
	text-decoration : none;
	color : var(--bg-main);
	cursor : pointer;
}
nav ul li a:before {
	content : "";
	position : absolute;
	display : block;
	width : 0%;
	height : 2px;
	bottom : -5px;
	left : 100%;
	background-color : var(--bg-tint-2);
	transition : 0.2s all;
}
nav ul li a:hover:before {
	width : 100%;
	left : 0%;
	animation : 0.2s forwards hover;
	transition : left 0.001s, width 0.2s;
}
nav #search {
	width : calc(40px + 15vw);
	height : auto;
	padding : 5px 10px;
	margin : 0 5vw 0 0;
	border-radius : 3px;
	border : none;
	font-family : var(--font-accent);
	font-size : 1rem;
	color : var(--txt-accent);
	background-color : var(--bg-tint-1);
	display : none;
}
nav #search:active,
nav #search:focus {
	outline : none;
}